
body { width: 80%}

#Flughafenliste {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#Flughafenliste td, #Flughafenliste th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Flughafenliste tr:nth-child(even){background-color: #f2f2f2;}

#Flughafenliste tr:hover {background-color: #ddd;}

#Flughafenliste th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(76, 122, 175);
    color: white;
}

.button {
    background-color: rgb(76, 122, 175); /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

input[type=submit]:hover {
    background-color: #45a049;
}

.formular {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
